// Using the @angular/cdk/layout Breakpoints to define wat is a
// - handset = sm
// - tablet = md
// - web = lg
$angular-breakpoints: (
  'handset':
    '(max-width: 599.98px) and (orientation: portrait), (max-width: 959.98px) and (orientation: landscape(max-width: 599.98px) and (orientation: portrait), (max-width: 959.98px) and (orientation: landscape)',
  'tablet': '(min-width: 600px) and (max-width: 839.98px) and (orientation: portrait), (min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape)',
  'web': '(min-width: 840px) and (orientation: portrait), (min-width: 1280px) and (orientation: landscape)',
) !default;

$angular-breakpoint-portrait: (
  'handset': '(max-width: 599.98px) and (orientation: portrait) ',
  'tablet': '(min-width: 600px) and (max-width: 839.98px) and (orientation: portrait)',
  'web': '(min-width: 840px) and (orientation: portrait)',
) !default;

$angular-breakpoint-landscape: (
  'handset': '(max-width: 959.98px) and (orientation: landscape)',
  'tablet': '(min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape)',
  'web': '(min-width: 1280px) and (orientation: landscape)',
) !default;
