@use 'sass:map' as map;
@use 'sass:list' as list;
@use '@angular/material' as mat;

@use '../utils/variables/colors' as colorVariables;

@use '../utils/functions/colors' as colorFunctions;

@use '../utils/mixins/colors' as colorMixins;

/*****************************
 * BACKGROUND & BORDER GREYS *
 *****************************/

@each $color-name, $color-value in colorVariables.$greys {
  .bg-#{$color-name} {
    background-color: $color-value !important;
    color: map.get($map: colorVariables.$grey-contrasts, $key: $color-name);
  }

  .border-#{$color-name} {
    border: 1px solid $color-value;
  }
}

// Reverse the colors for darkmode: where grey-1 is a really light grey in the light theme
// it is a really dark color in darkmode.
$grey-names: map.keys(
  $map: colorVariables.$greys,
);
$grey-values: map.values(
  $map: colorVariables.$greys,
);
$length: calc(list.length($grey-names) - 1);

@for $i from 2 through $length {
  $index: calc(10 - $i);
  $grey-value: list.nth(
    $list: $grey-values,
    $n: $index,
  );
  $grey-name: list.nth(
    $list: $grey-names,
    $n: $i,
  );

  .dark-mode .bg-#{$grey-name} {
    background-color: $grey-value !important;
    color: map.get(
      $map: colorVariables.$grey-contrasts,
      $key: colorFunctions.colorname($grey-value)
    );
  }

  .dark-mode .border-#{$grey-name} {
    border: 1px solid $grey-value;
  }
}

/********************************
 * BACKGROUND & BORDER COOLGRAY *
 ********************************/

@each $key, $value in colorVariables.$coolgray {
  .bg-coolgray-#{$key} {
    background-color: $value !important;
    color: map.get(colorVariables.$coolgray-contrasts, $key);
  }

  .border-coolgray-#{$key} {
    border: 1px solid $value;
  }

  @if $key == '500' {
    .bg-coolgray {
      background-color: $value !important;
      color: map.get(colorVariables.$coolgray-contrasts, $key);
    }

    .border-coolgray {
      border: 1px solid $value;
    }
  }
}

/**************************************************
 * BACKGROUND & BORDER 17 ONLINE COLORS: ALL HUES *
 **************************************************/

@include colorMixins.colorscheme(colorVariables.$online);

/************************************************************
 * BACKGROUND & BORDER 4 OPCO SPECIFIC COLORS: ALL HUES *
 ************************************************************/

@include colorMixins.colorscheme(colorVariables.$mindef);

/*******************************************************
 * BACKGROUND & BORDER 4 NOTIFICATION COLORS: ALL HUES *
 *******************************************************/

@include colorMixins.colorscheme(colorVariables.$accents);

/************************************
 * BACKGROUND & BORDER THEME COLORS *
 ************************************/

// The 3 colors making up the light theme
@include colorMixins.themeColorscheme();

/**************************************
 * TEXT: ONLY DEFAULT COLORS! NO HUES *
 **************************************/

// Since this is true for all colors: user the $colors map, which hold
// the name of the color and their default (= 500 hue) hex color value.

@each $colorname, $colorvalue in colorVariables.$colors {
  .text-#{$colorname} {
    color: $colorvalue;
  }
}
