@use 'sass:map' as map;
@use '@angular/material' as mat;

@use '../utils/variables/typography' as typographyVariables;
@use '../utils/variables/breakpoints' as breakpointVariables;

@use '../utils/mixins/breakpoints' as breakpointMixins;

// Font-sizes are device dependend settings
@each $device in map.keys($map: breakpointVariables.$angular-breakpoints) {
  @include breakpointMixins.media-breakpoint-only($device) {
    $font-size-body: map.get(
      map.get(
        $map: typographyVariables.$font-sizes,
        $key: $device,
      ),
      'body'
    );
    $font-size-caption: map.get(
      map.get(
        $map: typographyVariables.$font-sizes,
        $key: $device,
      ),
      'caption'
    );

    :root {
      @include mat.table-overrides(
        (
          header-headline-size: calc($font-size-body * $font-size-caption),
          row-item-label-text-size: calc($font-size-body * $font-size-caption),
        )
      );
    }
  }
}

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: none !important;
}
