// 1. CUSTOM THEMING
@use './components/colors' as colors;
@use './m2-themes/m2-theme' as themes;
// 2. TYPOGRAPHY
@use './base/typography';
// 3. GRID
@use './layout/grid';
// 4. HELPERS
@use './utils/helpers/helpers';
@use './utils/helpers/text';

// IT IS ALL ABOUT DIFFERENTLY STYLING ANGULAR MATERIAL COMPONENTS.
//
// The following Material components are styled
@use './components/button';
@use './components/card';
@use './components/chips';
@use './components/datepicker';
@use './components/dialog';
@use './components/divider';
@use './components/expansion';
@use './components/icon';
@use './components/input';
@use './components/list';
@use './components/select';
@use './components/slideToggle';
@use './components/tooltip';
@use './components/tree';

@use './m2-themes/themes/kmar';
@use './m2-themes/themes/km';
@use './m2-themes/themes/kl';
@use './m2-themes/themes/klu';
@use './m2-themes/themes/mindef';
@use './m2-themes/themes/commit';
@use './m2-themes/themes/fresh';
@use './m2-themes/themes/frosty';
@use './m2-themes/themes/custom';
