<div class="w-full px-32 flex flex-col mt-6">
    <div class="flex flex-row justify-between items-center mb-6">
        <button
            matIconButton
            filled
            color="accent"
            [class]="{ invisible: isForm() }"
            type="button"
            (click)="add()"
        >
            <mat-icon>add</mat-icon>
        </button>
        <span class="text-6xl text-primary-50">News</span>
        @if (!isForm()) {
            <button
                matIconButton
                filled
                color="accent"
                type="button"
                (click)="edit()"
                [class]="{ invisible: newsService.newsItems().length === 0 }"
            >
                <mat-icon>edit</mat-icon>
            </button>
        } @else {
            <div>&nbsp;</div>
        }
    </div>
    @if (newsService.newsItems().length === 0 && !isForm()) {
        <div class="flex w-full justify-center">
            <ng-container *ngTemplateOutlet="info"></ng-container>
        </div>
    } @else {
        <div class="flex flex-row gap-6 mt-6">
            <div class="w-5/12">
                @if (newsService.newsItems().length === 0) {
                    <ng-container *ngTemplateOutlet="info"></ng-container>
                } @else {
                    <ng-container *ngTemplateOutlet="list"></ng-container>
                }
            </div>
            <div class="w-7/12">
                @if (isForm()) {
                    <ng-container *ngTemplateOutlet="form"></ng-container>
                } @else {
                    <div class="mt-5">
                        <news-view [newsId]="newsService.selectedID()"></news-view>
                    </div>
                }
            </div>
        </div>
    }
</div>

<ng-template #info>
    <div
        class="flex flex-row gap-3 items-center bg-info-50 p-3 rounded-sm"
        [class]="isForm() ? 'w-full mt-18' : 'w-fit mt-6'"
    >
        <mat-icon class="text-info">info</mat-icon>
        <span>No news items created yet.</span>
    </div>
</ng-template>

<ng-template #list>
    <div class="bg-grey-1 opacity-90 rounded-sm p-3 mt-18.25">
        <mat-action-list>
            @for (
                item of newsService.newsItems();
                track item.id;
                let last = $last;
                let index = $index
            ) {
                <mat-list-item
                    (click)="select(item.id)"
                    [class]="{
                        'bg-accent-100': newsService.news().id === item.id,
                    }"
                >
                    <span matListItemTitle>{{ item.title }}</span>
                    <div matListItemMeta class="pt-2">
                        <mat-icon class="text-accent">chevron_right</mat-icon>
                    </div>
                </mat-list-item>
                @if (!last) {
                    <div class="py-1"><mat-divider></mat-divider></div>
                }
            }
        </mat-action-list>
    </div>
</ng-template>

<ng-template #form>
    <div class="w-full flex justify-between mb-6 items-center">
        @if (newsModel().id) {
            <button matIconButton filled color="accent" (click)="delete()" type="button">
                <mat-icon>delete</mat-icon>
            </button>
        }
        <span class="text-primary-50 text-3xl">
            @if (newsModel().id) {
                Update news
            } @else {
                Create news
            }
        </span>
        <div class="button-group">
            <button matButton="outlined" color="white" type="button" (click)="cancel()">
                <mat-icon>close</mat-icon>Cancel
            </button>
            <button
                matButton="filled"
                color="accent"
                type="submit"
                (click)="submitForm()"
                [disabled]="newsForm().invalid() || characterCount > maxCharactersAllowed"
            >
                <mat-icon>save</mat-icon>Save
            </button>
        </div>
    </div>
    <div class="bg-grey-1 opacity-90 rounded-sm p-3 mb-6">
        <form (submit)="submitForm()">
            <div class="ro-form-field w-1/2">
                <mat-label>Status</mat-label>
                <div matSuffix>
                    <mat-select #statusSelector [formField]="newsForm.status">
                        <mat-option [value]="0">Concept</mat-option>
                        <mat-option [value]="1">Current</mat-option>
                    </mat-select>
                    @if (statusSelector.panelOpen) {
                        <button
                            matIconButton
                            color="accent"
                            (click)="statusSelector.close()"
                            type="button"
                        >
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>
                    } @else {
                        <button
                            matIconButton
                            color="accent"
                            (click)="statusSelector.open()"
                            type="button"
                        >
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    }
                </div>
            </div>
            <div class="ro-form-field w-1/2 mt-6">
                <form-error [fieldRef]="newsForm.category" [title]="'Category *'"></form-error>
                <div matSuffix>
                    <mat-select
                        #categorySelector
                        [formField]="newsForm.category"
                        placeholder="Please select one"
                    >
                        @for (category of categoryService.categories(); track category.id) {
                            <mat-option [value]="category.id">{{ category.name }}</mat-option>
                        }
                    </mat-select>
                    @if (categorySelector.panelOpen) {
                        <button
                            matIconButton
                            color="accent"
                            (click)="categorySelector.close()"
                            type="button"
                        >
                            <mat-icon>keyboard_arrow_up</mat-icon>
                        </button>
                    } @else {
                        <button
                            matIconButton
                            color="accent"
                            (click)="categorySelector.open()"
                            type="button"
                        >
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                    }
                </div>
            </div>
            <div class="ro-form-field w-full mt-6">
                <form-error [fieldRef]="newsForm.title" [title]="'Title *'"></form-error>
                <input matInput [formField]="newsForm.title" #title />
                <mat-hint class="w-full flex justify-end pr-6"
                    >{{ title.value.length }} / 50</mat-hint
                >
            </div>
            <div class="ro-form-field w-full">
                <form-error [fieldRef]="newsForm.excerpt" [title]="'Excerpt *'"></form-error>
                <textarea matInput [formField]="newsForm.excerpt" #excerpt></textarea>
                <mat-hint class="w-full flex justify-end pr-6"
                    >{{ excerpt.value.length }} / 150</mat-hint
                >
            </div>
        </form>
        <div class="ro-form-field">
            @if (editorErrorMessage().length > 0) {
                <section #label class="flex flex-row items-center">
                    <mat-icon class="text-red mr-1 mb-2">warning</mat-icon>
                    <mat-label>Content *</mat-label>
                </section>
                <mat-error>{{ editorErrorMessage() }}</mat-error>
            } @else {
                <mat-label>Content *</mat-label>
            }
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" [colorPresets]="colorPresets" />
            <ngx-editor
                [editor]="editor"
                [(ngModel)]="editorContent"
                (ngModelChange)="updateNewsForm()"
            />
            <mat-hint class="w-full flex justify-end pr-6"
                >{{ characterCount }} / {{ maxCharactersAllowed }}</mat-hint
            >
        </div>
    </div>
</ng-template>
